<!DOCTYPE html>
<html class="h-100" lang="en" th:lang="${lang}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org/">
<!--/*@thymesVar id="lang" type="string"*/-->
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{layout}">index</title>
    <link href="img/favicon.ico" rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/ico"/>
    <link href="img/favicon.ico" rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <link href="img/favicon.png" rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/png"/>
    <link href="img/favicon.png" rel="icon" th:href="@{/img/favicon.png}" type="image/png"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body class="d-flex flex-column h-100 text-center">
<th:block th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <div class="m-auto">
                <a class="navbar-brand" th:href="@{/}">
                    <img alt="#" class="d-inline-block align-baseline" height="24" src="#" th:src="@{/img/favicon.png}"
                         type="image/png" width="24"/>
                    <!--/*@thymesVar id="projectName" type="string"*/-->
                    <th:block th:text="${projectName}"><!--projectName--></th:block>
                </a>
                <button class="navbar-toggler" data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                </div>
            </div>
        </div>
    </nav>
</th:block>
<main class="flex-shrink-0">
    <div class="container">
        <!--/*@thymesVar id="title" type="string"*/-->
        <h1 th:text="${title}">title</h1>
        <th:block layout:fragment="content"><!--content--></th:block>
    </div>
</main>
<footer class="footer mt-auto py-3">
    <div class="container">
        <th:block layout:fragment="footer">
            <th:block th:replace="layout/layout::footer"><!--footer--></th:block>
        </th:block>
    </div>
</footer>
<script th:src="@{/js/bootstrap/bootstrap.bundle.js}"></script>
<th:block layout:fragment="ext"><!--ext--></th:block>
</body>
</html>
